<%
    var coverImageUrl;

    if (post.coverImage) {
        if ((post.coverImage.indexOf(config.url) < 0) && (post.coverImage.indexOf('://') >= 0)) {
            coverImageUrl = post.coverImage;
        } else {
            coverImageUrl = url_for(post.path + post.coverImage);
        }
    }
%>
<article class="post" itemscope itemType="http://schema.org/BlogPosting">
    <% if (post.coverImage) { %>
        <div class="post-header-cover" style="background-image:url('<%= coverImageUrl %>');">
            <%- partial('post/header')%>
        </div>
    <% } else { %>
        <%- partial('post/header')%>
    <% } %>
    <div class="post-content markdown main-content-wrap" itemprop="articleBody">
        <%- post.content %>
        <% if (theme.image_gallery) { %>
            <%- partial('post/gallery', {photos: post.photos})%>
        <% } %>
        <hr/>
        <div>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><a href='https://www.facebook.com/hanmomhanda' target='_blank'>hanmomhanda</a>의 저작물인 이 저작물은(는) <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
        </div>
    </div>
    <div class="post-footer main-content-wrap">
        <% if ((post.tags) && (post.tags.length > 0)) { %>
            <div class="post-footer-tags">
                <span class="text-color-light text-small">TAGGED IN</span><br/>
                <%- partial('post/tag', {tags: post.tags})%>
            </div>
        <% } %>
        <%- partial('post/actions') %>
        <% if (post.comments && theme.disqus_shortname) { %>
            <%- partial('post/disqus') %>
        <% } %>
    </div>
</article>

